*{
    background-color: black;
}
h1{
    font-size: 50px;
    color: aquamarine;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    text-decoration: underline;
}
p{
    color: tan;
    font-family: monospace;
    font-size: 20px;
}
img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 177, 147);
}
.row{
    display: flex;
}
.column {
    flex: 33.33%;
    padding: 5px;
}