<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    
</head>
<body>
    
  <nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: white;font-family: cursive;">Food Paradise</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="#" style="color: white;">Home</a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link" href="#"style="color: white;">Features</a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link" href="#"style="color: white;">Pricing</a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link " href="#"style="color: white;">Contact</a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            <a class="nav-link  " href="{{url_for('signup')}}"><button class=" btn-danger " style="margin-left: 450px;">Sign Out</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
  <h1 style="font-family: cursive;">Eat Well & Sleep Well</h1>
  <h3 style="font-family: cursive;"style="font-family:cursive;"><p>
    Sleep is necessary to help regulate hormones that control appetite.Lack of sleep can increase roduction of hormones that signal hunger and decrease production of hormones that tell us were full .
  </p>
</h3>

</div>
</body>
</html>