<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pictures</title>
    <link rel="stylesheet" href="https://imageuploadbysreebhavani.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css" class="css">
</head>
<body>
    <center><h1>WELCOME ALL GUYS</h1></center>
    <h2>Pictures</h2><br><br>
<div id="a">
    <div class="b">
        <h3>Tree</h3>
        <img src="https://imageuploadbysreebhavani.s3.jp-tok.cloud-object-storage.appdomain.cloud/Tree.jpg" alt="">
    </div>
    <div class="b">
        <h3>Sea</h3>
        <img src="https://imageuploadbysreebhavani.s3.jp-tok.cloud-object-storage.appdomain.cloud/Sea.jpg" alt="">
    </div>
    <div class="c">
        <h3>Rabbit</h3>
        <img src="https://imageuploadbysreebhavani.s3.jp-tok.cloud-object-storage.appdomain.cloud/Rabbit.jpg" alt="">
    </div>
    <div class="c">
        <h3>Parrot</h3>
        <img src="https://imageuploadbysreebhavani.s3.jp-tok.cloud-object-storage.appdomain.cloud/Parrot.jpg" alt="">
    </div>
    <div class="c">
        <h3>Pineapple</h3>
        <img src="https://imageuploadbysreebhavani.s3.jp-tok.cloud-object-storage.appdomain.cloud/Pineapple%20.jpg" alt="">
    </div>
</div>
</body>
</html>





















