<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watson assistant</title>
    <style>
        body{
            background-image: url("waterdrop.webp");
            background-size: cover;
        }
        h1{
            margin-top: 40px;
            color: violet;
            font-style: italic;
            text-decoration: underline;
        }
        h2{
            color: green;
            
        }
    </style>
</head>
<body>
    <h1>Patient Appointment</h1><br><br>
    <h2>The patient appointment module of the e-Hospital application <br><br> is used for patient to confirm and cancel their appointments.</h2>
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "73e702c9-beb9-400c-ac6f-add78c0483cd", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "e710c74d-a02a-4eb5-88d8-3abfc63aa639", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
</body>
</html>