    <!--1.Create user table with email, username,password
        2.perform update, delete queries with usertable
        3.create a flask app with registration page, login page, welcome page. By default load the registration page once the user enters all the
        fields store the data in database and navigate to login page. Authenticate user with username and password. If the user is valid show the welcome page.-->

        {% extends 'base.html' %}
        {% block title %} Home {% endblock %}
        
        {% block content %}
                        <br><br>
                        <div>
                          <div>
                            <h1>Welcome To PaperBoat....!</h1>
                        <p>&emsp;This website was created to do the follows...<br>
                          &emsp;1.Create user table with email, username,password<br>
                          &emsp;2.perform update, delete queries with usertable<br>
                          &emsp;3.create a flask app with registration page, login page, welcome page. By default load the registration page once the user enters all the
                          fields store the data in database and navigate to login page. Authenticate user with username and password. If the user is valid show the welcome page.
                        </p>   
                          </div>
                        </div>           
        {% endblock content %}
        