<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment-3</title>
    <link rel="stylesheet" href="https://imageuploadbyrevathi.s3.jp-tok.cloud-object-storage.appdomain.cloud/style.css">
</head>
<body>
    <div>
        <h1>Welcome to my web page!!</h1><br><br>
        <p>Five Elements of Earth!!</p>
    </div>
    <div class="row">
        <div class="column">
            <p>Fire</p>
            <img src="https://imageuploadbyrevathi.s3.jp-tok.cloud-object-storage.appdomain.cloud/1.jpg" alt="image_1" title="Fire">&nbsp;
        </div>
        <div class="column">
            <p>Water</p>
            <img src="https://imageuploadbyrevathi.s3.jp-tok.cloud-object-storage.appdomain.cloud/2.jpg" alt="image_2" title="Water">&nbsp;
        </div>
        <div class="column">
            <p>Earth</p>
            <img src="https://imageuploadbyrevathi.s3.jp-tok.cloud-object-storage.appdomain.cloud/3.jpg" alt="image_3" title="Earth">&nbsp;
        </div>
        <div class="column">
            <p>Wood</p>
            <img src="https://imageuploadbyrevathi.s3.jp-tok.cloud-object-storage.appdomain.cloud/4.jpg" alt="image_4" title="wood">&nbsp;
        </div>
        <div class="column">
            <p>Metal</p>
            <img src="https://imageuploadbyrevathi.s3.jp-tok.cloud-object-storage.appdomain.cloud/5.jpg" alt="image_5" title="Metal">&nbsp;
        </div>
    </div>
</body>
</html>